body{
    display: flex;
    animation: rainbow 4s linear infinite;
}

.spinner{
    width: 200px;
    height: 200px;
    background-color: transparent;
    border: 10px solid blue;
    border-bottom-color: transparent;
    border-radius: 200px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes rainbow {
    0%{
        background-color: red;
    }
    15%{
        background-color: orange;
        
    }
    30%{
        background-color: yellow;
        
    }
    45%{
        background-color: green;
        
    }
    60%{
        background-color: blue;
        
    }
    75%{
        background-color: indigo;
        
    }
    90%{
        background-color: violet;
    }
    100%{
        background-color: red;
        
    }
}